@page
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
@model Model_Class.Pages.IndexModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <h2>@Model.SayGoodbye()</h2>
    <p>@Model.FirstName</p>
</body>
</html>
